<ion-view title="AuthorizationContent" id="page8">
  <ion-content padding="true" class="has-header">
    <div id="authorizationContent-container4">
      <h4 id="authorizationContent-heading4" style="color:#000000;font-weight:300;text-align:justify;">Visita al Museo Elder</h4>
      <h5 id="authorizationContent-heading5" style="color:#000000;font-weight:300;">14:27 20/04/2017</h5>
      <div id="authorizationContent-markdown13" style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Visitaremos el Museo Elder la semana que viene para que los alumnos puedan tener una perspectiva diferente y divertida sobre la ciencia, para así promover su interés científico y en otras áreas. Adjuntamos un archivo PDF en el que encontrarán
          más información al respecto.</p>
      </div>
    </div>
    <ion-list id="authorizationContent-list10">
      <ion-item class="item-icon-left" id="authorizationContent-list-item22">
        <i class="icon ion-android-attach"></i>Museo Elder.pdf</ion-item>
      <ion-item class="item-divider" id="authorizationContent-list-item-divider2"> Fecha límite</ion-item>
      <ion-item id="authorizationContent-list-item33">24 de Abril de 2017</ion-item>
    </ion-list>
    <div id="authorizationContent-button-bar1" class="button-bar"></div>
    <div id="authorizationContent-button-bar2" class="button-bar"></div>
    <div id="authorizationContent-button-bar3" class="button-bar">
      <button id="authorizationContent-button20" class="button button-balanced button-block">Autorizar</button>
      <button id="authorizationContent-button22" class="button button-assertive button-block">No autorizar</button>
    </div>
  </ion-content>
</ion-view>