<ion-view title="Authorizations" id="page3">
  <ion-content padding="false" class="has-header">
    <div id="authorizations-container3">
      <ion-list id="authorizations-list9">
        <ion-item ng-repeat="authorization in authorizations" class="item-icon-right positive" id="authorizations-list-item20" ui-sref="tabsController.authorizationContent()">{{authorization.subject}}
          <span class="item-note" am-time-ago="authorization.sendingDate"></span>
          <i ng-show="authorization.attachment" class="icon ion-android-attach"></i>
          <p am-time-ago="authorization.limitDate"></p>
          <ion-option-button class="button-royal">Importante</ion-option-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
