<ion-view title="Centro" id="page13">
  <ion-content padding="true" class="has-header">
    <form id="centerSelector-form5" class="list" ng-if="dataArrived">
      <ion-item class="item-divider" id="centro-list-item-divider4"> Por favor seleccione sus centros:</ion-item>
      <ion-checkbox id="centreSelector-checkbox-{{ centre.id }}" ng-repeat="centre in centres">{{centre.name}}</ion-checkbox>
      <div class="spacer" style="height: 40px;"></div>
      <button id="centro-button26" class="button button-positive button-block" ng-click="addCentres()">Finalizar</button>
    </form>
  </ion-content>
</ion-view>
