<ion-view title="Mi perfil" id="page6">
  <ion-content padding="true" class="has-header" scroll="false">
    <div class="list card" id="settings-card21">
      <ion-item class="item-icon-left" id="settings-list-item28" ui-sref="tabsController.myData()" >
        <i class="icon ion-ios-contact"></i>Mis datos</ion-item>
      <ion-item class="item-icon-left" id="settings-list-item29" ui-sref="tabsController.myChildren()">
        <i class="icon ion-ios-people"></i>Mis hijos</ion-item>
      <ion-item class="item-icon-left" id="settings-list-item30" ui-sref="tabsController.myCentre()">
        <i class="icon ion-ios-home"></i>Mi centro</ion-item>
      <ion-item class="item-icon-left" id="settings-list-item31">
        <i class="icon ion-more"></i>Sobre nosotros</ion-item>
    </div>
  </ion-content>
</ion-view>
