<ion-view title="Circulares" id="page2">
  <ion-content padding="false" class="has-header">
    <div id="notices-container2">
      <ion-list id="notices-list8">
        <ion-item ng-repeat="notice in notices | orderBy : sortNotices : true" ng-click="sendNoticeId(notice.id)" class="item-icon-right positive" id="notices-list-item18" ui-sref="tabsController.noticeContent()">{{notice.subject}}
          <span class="item-note" am-time-ago="notice.sendingDate"></span>
          <i ng-show="notice.attachment" class="icon ion-android-attach"></i>
          <ion-option-button class="button-royal">Importante</ion-option-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
