<ion-view title="NoticeContent" id="page7">
  <ion-content padding="false" class="has-header">
    <div id="noticeContent-container1">
      <ion-list id="noticeContent-list13">
        <ion-item id="noticeContent-list-item34">Clases canceladas mañana</ion-item>
        <ion-item id="noticeContent-list-item35">18/04/2017 10:32</ion-item>
      </ion-list>
      <div id="noticeContent-markdown12" style="text-align:justify;" class="show-list-numbers-and-dots padding">
        <p style="color:#000000;font-size:16px;">Debido a la fuerte tormenta que se avecina mañana sobre las islas, el centro ha decidido suspender todas las actividades lectivas programadas para el día 19 de Abril de 2017.</p>
      </div>
    </div>
  </ion-content>
</ion-view>