<ion-view title="PollContent" id="page10">
  <ion-content padding="true" class="has-header">
    <div id="pollContent-container6">
      <h4 id="pollContent-heading6" style="color:#000000;font-weight:300;text-align:justify;">¿Uniforme si o no?</h4>
      <h5 id="pollContent-heading7" style="color:#000000;font-weight:300;">16:48 17/04/2017</h5>
      <div id="pollContent-markdown14" style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Estamos planteándonos hacer uso del uniforme escolar de manera obligatoria en el centro, y no como hasta ahora cuya funcionalidad era identificar a nuestros alumnos en actividades extraescolares. No obstante nos gustaría conocer su opinión antes
          de tomar una decisión precipitada.</p>
      </div>
    </div>
    <form id="pollContent-form2" class="list">
      <ion-checkbox id="pollContent-checkbox1">Uniforme no obligatorio</ion-checkbox>
      <ion-checkbox id="pollContent-checkbox2">Uniforme obligatorio</ion-checkbox>
      <ion-checkbox id="pollContent-checkbox3">Me es indiferente</ion-checkbox>
      <ion-item class="item-divider" id="pollContent-list-item-divider1"> Fecha Límite</ion-item>
      <ion-item id="pollContent-list-item32">21 de Abril de 2017</ion-item>
    </form>
    <button id="pollContent-button23" class="button button-positive button-block">Enviar respuesta</button>
  </ion-content>
</ion-view>