<ion-view title="Polls" id="page9">
  <ion-content padding="false" class="has-header">
    <div id="polls-container5">
      <ion-list id="polls-list11">
        <ion-item class="positive" id="polls-list-item23" ui-sref="tabsController.pollContent()">¿Uniforme sí o no?
          <span class="item-note">16:48 17/04/2017</span>
          <ion-option-button class="button-royal">Importante</ion-option-button>
        </ion-item>
        <ion-item class="item-icon-right positive" id="polls-list-item24">Pez panga en el comedor
          <span class="item-note">17:19 15/04/2017</span>
          <i class="icon ion-android-attach"></i>
          <ion-option-button class="button-royal">Importante</ion-option-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>