<ion-view title="Mi perfil" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="settings-card21">
      <ion-item class="item-avatar" id="settings-list-item27">
        <h2>John Wick</h2>
      </ion-item>
      <ion-item class="item-icon-left" id="settings-list-item28">
        <i class="icon ion-ios-contact"></i>Mi perfil</ion-item>
      <ion-item class="item-icon-left" id="settings-list-item30">
        <i class="icon ion-ios-contact"></i>Mi perfil</ion-item>
      <ion-item class="item-icon-left positive" id="settings-list-item29">
        <i class="icon ion-more"></i>Sobre nosotros</ion-item>
    </div>
  </ion-content>
</ion-view>
