<ion-view id="page1">
  <ion-tabs class="tabs-positive tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Circulares" icon="ion-ios-chatbubble-outline" href="#/tabs/circulars" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Autorizaciones" icon="ion-ios-locked-outline" href="#/tabs/authorizations" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Encuestas" icon="ion-ios-compose-outline" href="#/tabs/polls" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Mi Perfil" icon="ion-ios-contact" href="#/tabs/myProfile" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
